<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
<link href="/css/cart/index.css?3df1b8aa" rel="stylesheet"></head>
<body>
        <!-- <div id="topAdv">
   <img src="/src/img/hed.jpg?c311a9d7"/>
</div> -->
<header>
    <div class="menu">
        <!-- <ul class="leftUl">
            <li>
                <a href="/view/login/index.html">您好，请登录</a>
            </li>
            <li>
                <a href="javascript:void(0)">免费注册</a>
            </li>
            <li class="noBorder">
                <a href="javascript:void(0)">
                    北京
                    <span class="triangle"></span>
                </a>
                <div class="noBorMeg">
                    <ul>
                        <li>上海</li><li>北京</li><li>沈阳</li><li>大连</li><li>山西</li>
                        <li>四川</li><li>黑龙江</li><li>广州</li><li>石家庄</li><li>河北</li>
                        
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="rightUl">
            <li>
                <a href="javascript:void(0)">我的订单</a>
            </li>
            <li>
                <a href="/view/cart/index.html">购物车
                    <span>0</span>件</span>
                </a>
            </li>
            <li>
                <a href="/view/personal/index.html">个人中心</a>
            </li>
            <li>
                <a href="javascript:void(0)">VIP客户中心</a>
            </li>
            <li >
                <a href="javascript:void(0)">手机商城</a>
            </li>
        </ul> -->
    </div>
</header>
    <div id="head">
        <div id="headMain">
            <div class="logo">
                <img src="../../img/logo.jpg">
            </div>
            <div class='title'>
                购物车
            </div>
            <div class="search">
                <input type="text" placeholder="请输入关键字"><button>搜索</button>
                
            </div>
            <!-- <div class="cart">
                <div class="myCart">
                    <a href="javascript:void(0)"><img src='../../img/购物车.png'> 我的购物车 <span class="triangle"></span></span></a>
                </div>
                <h3>采购专线：400-899-0018</h3>
            </div> -->
        </div>
    </div>
    
    <!-- <nav>
        <div class="nav">
            <a href="javascript:void(0)" class="classify">商品分类</a>
            <ul>
                <li><a href="javascript:void(0)">首页</a></li>
                <li><a href="javascript:void(0)">政府采购</a></li>
                <li><a href="javascript:void(0)">企业购</a></li>
                <li><a href="javascript:void(0)">场景采购</a></li>
                <li><a href="javascript:void(0)">解决方案</a></li>
                <li><a href="javascript:void(0)">关于我们</a></li>
                <li><a href="javascript:void(0)">招商加盟</a></li>                
            </ul>
        </div>  
    </nav> -->

    <main>
        <div class="main">
            <p><label>全部商品（<span class="shopAll">0</span>）</label></p>
            <div class="goodList">
                <table  cellpadding="0" cellspacing="0" class="cartTable">
                    <tr class="tableHead">
                        <th><input type="checkbox" name="allcheck"> 全选</th>
                        <th>商品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                        <th>操作</th>                        
                    </tr>
                    
                </table>
                <div class="select">
                    <ul class="choose">
                        <li><input type="checkbox" name="allcheck">全选</li>
                        <li class="allDelete">删除选中的商品</li>
                        <li>移到我的收藏</li>                          
                        <li>继续购物</li>                            
                    </ul>
                    <ul class="total">
                        <li>已选择 <span class="shopChoice">0</span> 件商品</li>
                        <li>
                            <p><label>商品总金额：</label> <span class = 'sum'>￥0.00</span></p>
                            <p><label>订单优惠金额：</label> <span>￥0.00</span></p>
                            <p><label>总金额：</label> <span class = 'sum'>￥0.00</span></p>
                        </li>
                        <li>
                            <button class="settlement">去结算</button>
                        </li>                        
                    </ul>
                </div>
            </div>
            <div class="recommend">
                <ul class="recommendList">
                    <li class="active">猜你喜欢
                        <div class="hideDiv" style="display:block;">
                            <div class="swiper-container " style='width:100%;height:100%;'>
                                <div class="swiper-wrapper">
                                  <div class="swiper-slide goods">
                                        <div class="good">
                                                <img src="../../img/A4.jpg">
                                                <p>晨光(M&G) 蓝多功能打印纸70gA4</p>
                                                <p>价格：<span>￥17.90</span>/<label>包</label></p>
                                                <input type="button" value="-"><input type="number" value="1"><input type="button" value="+"><button>加入购物车</button>
                                        </div>
                                  </div>
                                  <div class="swiper-slide goods">
                                        <div class="good">
                                                <img src="../../img/A4.jpg">
                                                <p>晨光(M&G) 蓝多功能打印纸70gA4</p>
                                                <p>价格：<span>￥17.90</span>/<label>包</label></p>
                                                <input type="button" value="-"><input type="number" value="1"><input type="button" value="+"><button>加入购物车</button>
                                        </div>
                                  </div>
                                  <div class="swiper-slide goods">
                                        <div class="good">
                                                <img src="../../img/A4.jpg">
                                                <p>晨光(M&G) 蓝多功能打印纸70gA4</p>
                                                <p>价格：<span>￥17.90</span>/<label>包</label></p>
                                                <input type="button" value="-"><input type="number" value="1"><input type="button" value="+"><button>加入购物车</button>
                                        </div>
                                  </div>
                                  <div class="swiper-slide goods">
                                        <div class="good">
                                                <img src="../../img/A4.jpg">
                                                <p>晨光(M&G) 蓝多功能打印纸70gA4</p>
                                                <p>价格：<span>￥17.90</span>/<label>包</label></p>
                                                <input type="button" value="-"><input type="number" value="1"><input type="button" value="+"><button>加入购物车</button>
                                        </div>
                                  </div>
                                  <div class="swiper-slide goods">
                                        <div class="good">
                                                <img src="../../img/A4.jpg">
                                                <p>晨光(M&G) 蓝多功能打印纸70gA4</p>
                                                <p>价格：<span>￥17.90</span>/<label>包</label></p>
                                                <input type="button" value="-"><input type="number" value="1"><input type="button" value="+"><button>加入购物车</button>
                                        </div>
                                  </div>
                                  
                                </div>
                                <div class="swiper-button-prev swiper-button-black"></div>
                                <div class="swiper-button-next swiper-button-black"></div>
                            </div>
                        </div>
                    </li>
                    <li>最近浏览
                        <div class="hideDiv">
                                <div class="swiper-container  " style='width:100%;height:100%;'>
                                        <div class="swiper-wrapper">
                                          <div class="swiper-slide goods">
                                                <div class="good">
                                                        <img src="../../img/A4.jpg">
                                                        <p>晨光(M&G) 蓝多功能打印纸70gA4</p>
                                                        <p>价格：<span>￥17.90</span>/<label>包</label></p>
                                                        <input type="button" value="-"><input type="number" value="1"><input type="button" value="+"><button>加入购物车</button>
                                                </div>
                                          </div>
                                          <div class="swiper-slide goods">
                                                <div class="good">
                                                        <img src="../../img/A4.jpg">
                                                        <p>晨光(M&G) 蓝多功能打印纸70gA4</p>
                                                        <p>价格：<span>￥17.90</span>/<label>包</label></p>
                                                        <input type="button" value="-"><input type="number" value="1"><input type="button" value="+"><button>加入购物车</button>
                                                </div>
                                          </div>
                                          <div class="swiper-slide goods">
                                                <div class="good">
                                                        <img src="../../img/A4.jpg">
                                                        <p>晨光(M&G) 蓝多功能打印纸70gA4</p>
                                                        <p>价格：<span>￥17.90</span>/<label>包</label></p>
                                                        <input type="button" value="-"><input type="number" value="1"><input type="button" value="+"><button>加入购物车</button>
                                                </div>
                                          </div>
                                          <div class="swiper-slide goods">
                                                <div class="good">
                                                        <img src="../../img/A4.jpg">
                                                        <p>晨光(M&G) 蓝多功能打印纸70gA4</p>
                                                        <p>价格：<span>￥17.90</span>/<label>包</label></p>
                                                        <input type="button" value="-"><input type="number" value="1"><input type="button" value="+"><button>加入购物车</button>
                                                </div>
                                          </div>
                                          <div class="swiper-slide goods">
                                                <div class="good">
                                                        <img src="../../img/A4.jpg">
                                                        <p>晨光(M&G) 蓝多功能打印纸70gA4</p>
                                                        <p>价格：<span>￥17.90</span>/<label>包</label></p>
                                                        <input type="button" value="-"><input type="number" value="1"><input type="button" value="+"><button>加入购物车</button>
                                                </div>
                                          </div>
                                          
                                        </div>
                                        <div class="swiper-button-prev swiper-button-black"></div>
                                        <div class="swiper-button-next swiper-button-black"></div>
                                    </div>
                        </div>
                    </li>
                    <li>我的收藏
                        <div class="hideDiv">
                            我的收藏
                        </div>
                    </li>
                    <div class="clear"></div>
                </ul>
                
            </div>
        </div>
    </main>

    <div id="foot">
        <div>
            <img src="/src/img/foot.jpg?43aa0927">
        </div>
    </div>
    <div id="list">
        <div>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <div class="QR">
                <p>手机端商城</p>
                <img src="/src/img/shx.jpg?b13e8683">
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <footer>
        <p>
            <a href="javascript:void(0)">公司介绍</a>
            <a href="javascript:void(0)">联系我们</a>
            <a href="javascript:void(0)">招贤纳士</a>
            <a href="javascript:void(0)" class="last">商家合作</a>
        </p>
        <p>版权所有：北京申合信科技发展有限公司</p>
        <p>地址：北京市西城区莲花池东路3号天云五金大厦3层</p>
        <p>联系电话：400-899-0018</p>
    </footer>
    <!-- 右侧菜单 -->
    <div id="rightBar">
        <div class="barTop">
                <ul>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-geren11"></use>
                        </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-gouwuche"></use>
                        </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-lishijilu"></use>
                        </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-saoma"></use>
                        </svg></li> 
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-shoucang"></use>
                        </svg></li>               
                </ul>
            </div>
            <div class="barBottom">
                <ul>
                    <li><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-erji"></use>
                    </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-kaohejilu"></use>
                    </svg></li>                
                    <li><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-saoma"></use>
                    </svg></li>
                    <li class="top"><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-top"></use>
                    </svg></li>
                </ul>
            </div>
</div>

    <div id="leftNav">
        <h6>楼层导航</h6>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
    </div>
<script type="text/javascript" src="/js/common.js?b796cfe8"></script><script type="text/javascript" src="/js/cart/index.js?51a01703"></script></body>
</html>
