<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
<link href="/css/details/index.css?099a7fa5" rel="stylesheet"></head>
<body>
        <!-- <div id="topAdv">
   <img src="/src/img/hed.jpg?c311a9d7"/>
</div> -->
<header>
    <div class="menu">
        <!-- <ul class="leftUl">
            <li>
                <a href="/view/login/index.html">您好，请登录</a>
            </li>
            <li>
                <a href="javascript:void(0)">免费注册</a>
            </li>
            <li class="noBorder">
                <a href="javascript:void(0)">
                    北京
                    <span class="triangle"></span>
                </a>
                <div class="noBorMeg">
                    <ul>
                        <li>上海</li><li>北京</li><li>沈阳</li><li>大连</li><li>山西</li>
                        <li>四川</li><li>黑龙江</li><li>广州</li><li>石家庄</li><li>河北</li>
                        
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="rightUl">
            <li>
                <a href="javascript:void(0)">我的订单</a>
            </li>
            <li>
                <a href="/view/cart/index.html">购物车
                    <span>0</span>件</span>
                </a>
            </li>
            <li>
                <a href="/view/personal/index.html">个人中心</a>
            </li>
            <li>
                <a href="javascript:void(0)">VIP客户中心</a>
            </li>
            <li >
                <a href="javascript:void(0)">手机商城</a>
            </li>
        </ul> -->
    </div>
</header>
    <div id="head">
        <div id="headMain">
            <div class="logo">
                <img src="../../img/logo.jpg">
            </div>
            <div class="search">
                <input type="text" placeholder="请输入关键字"><button>搜索</button>
            </div>
            <div class="cart">
                <div class="myCart">
                    <a href="/view/cart/index.html"><img src='../../img/购物车.png'> 我的购物车 <span class="triangle"></span></span></a>
                </div>
                <h3>采购专线：400-899-0018</h3>
            </div>
        </div>
    </div>
    
    <nav>
        <div class="nav">
            <a href="javascript:void(0)" class="classify">商品分类</a>
            <ul class='NavList'>
    <!-- <li>
        <a href="/view/index.html">首页</a>
    </li>
    <li>
        <a href="javascript:void(0)">政府采购</a>
    </li>
    <li>
        <a href="javascript:void(0)">企业购</a>
    </li>
    <li>
        <a href="javascript:void(0)">场景采购</a>
    </li>
    <li>
        <a href="/view/wy/index.html">网易严选</a>
    </li>
    <li>
        <a href="/view/enterprise/index.html">关于我们</a>
    </li>
    <li>
        <a href="javascript:void(0)">招商加盟</a>
    </li> -->
</ul>
        </div>  
    </nav>

    <main>
        <div id="bread">
            <span>电脑、办公</span>
            >
            <span>电脑整机</span>
            >
            <span>笔记本</span>
            >
            <span>ThinkPad</span>
            >
            <span>ThinkPad翼480</span>
        </div>
        <div id="goodInfor">
            <div class="goodPic">
                <!-- <div id="preview" class="spec-preview"> <span class="jqzoom"><img jqimg="../../img/b1.jpg" src="../../img/s1.jpg" /></span> </div>
                <div class="spec-scroll"> <a class="prev">&lt;</a> <a class="next">&gt;</a>
                    <div class="items">
                        <ul>
                            <li class="uls"><img alt="佳能" bimg="../../img/b1.jpg" src="../../img/s1.jpg"  class="preview"></li>
                            <li class="uls"><img alt="佳能" bimg="../../img/b2.jpg" src="../../img/s2.jpg"  class="preview"></li>
                            <li class="uls"><img alt="佳能" bimg="../../img/b3.jpg" src="../../img/s3.jpg"  class="preview"></li>
                            <li class="uls"><img alt="佳能" bimg="../../img/b1.jpg" src="../../img/s1.jpg"  class="preview"></li>
                            <li class="uls"><img alt="佳能" bimg="../../img/b3.jpg" src="../../img/s3.jpg"  class="preview"></li>
                            <li class="uls"><img alt="佳能" bimg="../../img/b1.jpg" src="../../img/s1.jpg"  class="preview"></li>                          
                            <li class="uls"><img alt="佳能" bimg="../../img/b1.jpg" src="../../img/s1.jpg"  class="preview"></li>                          
                            <li class="uls"><img alt="佳能" bimg="../../img/b1.jpg" src="../../img/s1.jpg"  class="preview"></li>                          
                            <li class="uls"><img alt="佳能" bimg="../../img/b1.jpg" src="../../img/s1.jpg"  class="preview"></li>                          
                        </ul>
                    </div>
                </div> -->
            </div>
            <div class="goodIntro">
                <!-- <div class="goodName"><h3>华硕(ASUS) 顽石五代FL8000 15.6英寸游戏笔记本电脑(I7-8550 4G 1T 940MX 2G独显)</h3><p>八代处理器 1T硬盘 9系显卡</p></div>
                <div class="goodNum">
                    <span>商品编号：</span><b>888888</b>
                    <span>推荐指数：</span><b>⭐⭐⭐⭐⭐</b>
                    <span>赠送积分：</span><b>0</b>
                </div>
                <div class="price">
                    <span>价格：</span><b>￥4399.00</b><span>/台</span>
                </div>
                <div class="unit">
                    <span>销售单位：</span><strong class="defaultPack">台</strong>
                </div>
                <div class="spec">
                    <span>商品规格：</span><strong class="defaultColor">红色</strong><strong>蓝色</strong>
                </div> -->
                <!-- <div class="num">
                    <span>购买数量：</span>
                    <button>-</button>
                    <input type="text" value="1" id>
                    <button>+</button>
                    <span>已销售：</span><b>0</b>
                </div>
                <div class="buts">
                    <button class="carts">加入购物车</button>
                    <button class="collection">收藏商品</button>
                </div> -->
            </div>
            <div class="clear"></div>
        </div>
        <div id="details">
            <div class="left">
                <div class="otherBrands">
                    <h3>同类其他品牌</h3>
                    <ul>
                        <li><a href="javascript:void(0)">华硕ASUS</a></li>
                        <li><a href="javascript:void(0)">微星msi</a></li>
                        <li><a href="javascript:void(0)">联想Lenovo</a></li>
                        <li><a href="javascript:void(0)">神舟Hasee</a></li>
                        <li><a href="javascript:void(0)">惠普hp</a></li>
                        <li><a href="javascript:void(0)">宏基acer</a></li>
                        <li><a href="javascript:void(0)">戴尔DELL</a></li>
                        <li><a href="javascript:void(0)">华为HUAWEI</a></li>
                        <li><a href="javascript:void(0)">苹果Apple</a></li>
                        <li><a href="javascript:void(0)">雷神THUND</a></li>
                        <li><a href="javascript:void(0)">小米mi</a></li>
                        <li><a href="javascript:void(0)">三星SAMSUNG</a></li>
                        <li><a href="javascript:void(0)">微软</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="classification">
                    <h3>相关分类</h3>
                    <ul>
                        <li><a href="javascript:void(0)">轻薄本</a></li>
                        <li><a href="javascript:void(0)">游戏本</a></li>
                        <li><a href="javascript:void(0)">组装电脑</a></li>
                        <li><a href="javascript:void(0)">服务器/工作站</a></li>
                        <li><a href="javascript:void(0)">笔记本</a></li>
                        <li><a href="javascript:void(0)">电脑频道</a></li>
                        <li><a href="javascript:void(0)">电脑一体机</a></li>
                        <li><a href="javascript:void(0)">商用台式机</a></li>
                        <li><a href="javascript:void(0)">平板电脑</a></li>
                        <li><a href="javascript:void(0)">商用一体机</a></li>
                        <li><a href="javascript:void(0)">台式电脑</a></li>
                        <li><a href="javascript:void(0)">商用笔记本</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="recommend">
                    <h3>同类推荐</h3>
                    <ul>
                        <li>
                            <a href="javascript:void(0)"><img src="../../img/thinkpad.jpg"></a>
                            <a href="javascript:void(0)"><p>华硕(ASUS) 顽石五代FL8000 15.6英寸游戏笔记本电脑(I7-8550 4G 1T 940MX 2G独显)</p></a>
                            <h3>￥4399.00</h3>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../../img/thinkpad.jpg"></a>
                            <a href="javascript:void(0)"><p>华硕(ASUS) 顽石五代FL8000 15.6英寸游戏笔记本电脑(I7-8550 4G 1T 940MX 2G独显)</p></a>
                            <h3>￥4399.00</h3>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../../img/thinkpad.jpg"></a>
                            <a href="javascript:void(0)"><p>华硕(ASUS) 顽石五代FL8000 15.6英寸游戏笔记本电脑(I7-8550 4G 1T 940MX 2G独显)</p></a>
                            <h3>￥4399.00</h3>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../../img/thinkpad.jpg"></a>
                            <a href="javascript:void(0)"><p>华硕(ASUS) 顽石五代FL8000 15.6英寸游戏笔记本电脑(I7-8550 4G 1T 940MX 2G独显)</p></a>
                            <h3>￥4399.00</h3>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../../img/thinkpad.jpg"></a>
                            <a href="javascript:void(0)"><p>华硕(ASUS) 顽石五代FL8000 15.6英寸游戏笔记本电脑(I7-8550 4G 1T 940MX 2G独显)</p></a>
                            <h3>￥4399.00</h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <ul>
                    <li class="part ">
                       商品详情
                       
                    </li>
                    <li class="part">
                        规格与包装
                        
                    </li>
                    <li class="part">
                       商品评价
                          
                    </li>
                    <li class="part">
                        售后服务
                                         
                    </li>    
                </ul>
                <div class="hideDiv shopOrigth" style="display:block">
                    <div class="parameter">
                        <ul>
                            <li class="width100">品牌：ThinkPad</li>
                            <li>商品名称：ThinkPad翼480</li>
                            <li>商品编号：6072622</li>
                            <li>商品毛重：2.7kg</li>
                            <li>商品产地：中国大陆</li>
                            <li>系统：Windows 10</li>
                            <li>厚度：15.1mm-20.0mm</li>
                            <li>内存容量：8G</li>
                            <li>分辨率：全高清屏(1920×1080)</li>
                            <li>显卡型号：其他</li>
                            <li>待机时间：5-7小时</li>
                            <li>处理器:Intel i5低功耗版</li>
                            <li>特性：窄边框</li>
                            <li>显卡类别：入门级显卡 独立显卡</li>
                            <li>裸机重量：1.5-2kg</li>
                            <li>硬盘容量：128G+500G</li>
                            <li>显存容量：2G</li>
                            <li>分类：轻薄本</li>
                            <li>屏幕尺寸：14.0英寸</li>
                           
                        </ul>
                    </div>
                    <div class="Detailpicture">
                        
                    </div>
                </div>
                <div class="hideDiv">
                    <div class="packing">
                        <div class="packingList">
                            <h3>包装清单</h3>
                            <p><span>包装清单</span><label>笔记本×1、电源适配器×1、保修卡×1、说明书×1、</label></p> 
                        </div>
                        <div class="packingList">
                            <h3>基本参数</h3>
                            <p><span>品牌</span><label>华硕(ASUS)</label></p>
                            <p><span>商品名称</span><label>华硕(ASUS)</label></p>
                            <p><span>系列</span><label>华硕(ASUS)</label></p>
                            <p><span>型号</span><label>华硕(ASUS)</label></p>
                            <p><span>产品定位</span><label>华硕(ASUS)</label></p>
                            <p><span>上市时间</span><label>华硕(ASUS)</label></p>
                            <p><span>操作系统</span><label>华硕(ASUS)</label></p> 
                        </div>
                    </div>
                </div>    
                <div class="hideDiv">
                    <div class="evaluate">
                        <ul class="headList">
                            <li class="actives evaluates"><a href="javascript:void(0)">全部评价(0)</a></li>
                            <li class="evaluates"><a href="javascript:void(0)">好评(0)</a></li>
                            <li class="evaluates"><a href="javascript:void(0)">中评(0)</a></li>
                            <li class="evaluates"><a href="javascript:void(0)">差评(0)</a></li>                                
                        </ul>
                        <ul class="contentList">
                            <li>全部评价</li>
                            <li>好评</li>
                            <li>中评</li>
                            <li>差评</li>
                        </ul>
                    </div>
                </div>    
                <div class="hideDiv">4</div>                                          
            </div>
            <div class="clear"></div>
        </div>
    </main>

    <div id="foot">
        <div>
            <img src="/src/img/foot.jpg?43aa0927">
        </div>
    </div>
    <div id="list">
        <div>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <div class="QR">
                <p>手机端商城</p>
                <img src="/src/img/shx.jpg?b13e8683">
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <footer>
        <p>
            <a href="javascript:void(0)">公司介绍</a>
            <a href="javascript:void(0)">联系我们</a>
            <a href="javascript:void(0)">招贤纳士</a>
            <a href="javascript:void(0)" class="last">商家合作</a>
        </p>
        <p>版权所有：北京申合信科技发展有限公司</p>
        <p>地址：北京市西城区莲花池东路3号天云五金大厦3层</p>
        <p>联系电话：400-899-0018</p>
    </footer>
    <!-- 右侧菜单 -->
    <div id="rightBar">
        <div class="barTop">
                <ul>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-geren11"></use>
                        </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-gouwuche"></use>
                        </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-lishijilu"></use>
                        </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-saoma"></use>
                        </svg></li> 
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-shoucang"></use>
                        </svg></li>               
                </ul>
            </div>
            <div class="barBottom">
                <ul>
                    <li><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-erji"></use>
                    </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-kaohejilu"></use>
                    </svg></li>                
                    <li><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-saoma"></use>
                    </svg></li>
                    <li class="top"><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-top"></use>
                    </svg></li>
                </ul>
            </div>
</div>

    <div id="leftNav">
        <h6>楼层导航</h6>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
    </div>
<script type="text/javascript" src="/js/common.js?b796cfe8"></script><script type="text/javascript" src="/js/details/index.js?20766c5a"></script></body>
</html>
