<div id="foot">
        <div>
            <img src="../../img/foot.jpg">
        </div>
    </div>
    <div id="list">
        <div>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <div class="QR">
                <p>手机端商城</p>
                <img src="../../img/shx.jpg">
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <footer>
        <p>
            <a href="javascript:void(0)">公司介绍</a>
            <a href="javascript:void(0)">联系我们</a>
            <a href="javascript:void(0)">招贤纳士</a>
            <a href="javascript:void(0)" class="last">商家合作</a>
        </p>
        <p>版权所有：北京申合信科技发展有限公司</p>
        <p>地址：北京市西城区莲花池东路3号天云五金大厦3层</p>
        <p>联系电话：400-899-0018</p>
    </footer><script type="text/javascript" src="/js/common.js?b796cfe8"></script>