<!-- <div id="topAdv">
   <img src="../../img/hed.jpg"/>
</div> -->
<header>
    <div class="menu">
        <!-- <ul class="leftUl">
            <li>
                <a href="/view/login/index.html">您好，请登录</a>
            </li>
            <li>
                <a href="javascript:void(0)">免费注册</a>
            </li>
            <li class="noBorder">
                <a href="javascript:void(0)">
                    北京
                    <span class="triangle"></span>
                </a>
                <div class="noBorMeg">
                    <ul>
                        <li>上海</li><li>北京</li><li>沈阳</li><li>大连</li><li>山西</li>
                        <li>四川</li><li>黑龙江</li><li>广州</li><li>石家庄</li><li>河北</li>
                        
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="rightUl">
            <li>
                <a href="javascript:void(0)">我的订单</a>
            </li>
            <li>
                <a href="/view/cart/index.html">购物车
                    <span>0</span>件</span>
                </a>
            </li>
            <li>
                <a href="/view/personal/index.html">个人中心</a>
            </li>
            <li>
                <a href="javascript:void(0)">VIP客户中心</a>
            </li>
            <li >
                <a href="javascript:void(0)">手机商城</a>
            </li>
        </ul> -->
    </div>
</header><script type="text/javascript" src="/js/common.js?b796cfe8"></script><script type="text/javascript" src="/js/style/header.js?24f6b5f5"></script>