<div id="rightBar">
        <div class="barTop">
                <ul>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-geren11"></use>
                        </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-gouwuche"></use>
                        </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-lishijilu"></use>
                        </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-saoma"></use>
                        </svg></li> 
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-shoucang"></use>
                        </svg></li>               
                </ul>
            </div>
            <div class="barBottom">
                <ul>
                    <li><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-erji"></use>
                    </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-kaohejilu"></use>
                    </svg></li>                
                    <li><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-saoma"></use>
                    </svg></li>
                    <li class="top"><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-top"></use>
                    </svg></li>
                </ul>
            </div>
</div>
<script type="text/javascript" src="/js/common.js?b796cfe8"></script><script type="text/javascript" src="/js/style/RightNav.js?a986f6ea"></script>