<ul>
    <li>
        <a href="../index.html">首页</a>
    </li>
    <li>
        <a href="javascript:void(0)">政府采购</a>
    </li>
    <li>
        <a href="javascript:void(0)">企业购</a>
    </li>
    <li>
        <a href="javascript:void(0)">场景采购</a>
    </li>
    <li>
        <a href="javascript:void(0)">解决方案</a>
    </li>
    <li>
        <a href="../enterprise/index.html">关于我们</a>
    </li>
    <li>
        <a href="javascript:void(0)">招商加盟</a>
    </li>
</ul><script type="text/javascript" src="/js/common.js?b796cfe8"></script>