* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #9c9c9c;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 12px;
}
button {
  outline: none;
  cursor: pointer;
}
input {
  outline: none;
}
body {
  background-color: #f7f7f7;
}
.triangle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 4px solid #9c9c9c;
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  font-size: 0;
  vertical-align: bottom;
}
.clear {
  clear: both;
  content: '';
  overflow: hidden;
}
#head {
  width: 100%;
  height: 200px;
  background-color: white;
  margin-top: 5px;
}
#head #headMain {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
}
#head #headMain .logo {
  width: 220px;
  height: 191px;
  float: left;
  margin-top: 9px;
  -webkit-box-shadow: 5px 0px 2px #888888;
  box-shadow: 5px 0px 2px #888888;
}
#head #headMain .search {
  width: 560px;
  height: 200px;
  float: left;
  margin-left: 120px;
}
#head #headMain .search input {
  width: 480px;
  height: 50px;
  border: 2px solid #d50000;
  padding-left: 10px;
  margin-top: 68px;
}
#head #headMain .search button {
  width: 80px;
  height: 50px;
  background-color: #d50000;
  line-height: 50px;
  text-align: center;
  color: white;
  border: 1px solid #d50000;
  vertical-align: top;
  cursor: pointer;
  margin-top: 68px;
  font-size: 16px;
}
#head #headMain .cart {
  width: 200px;
  height: 200px;
  float: right;
}
#head #headMain .cart h3 {
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
}
#head #headMain .cart .myCart {
  width: 100%;
  height: 150px;
  position: relative;
}
#head #headMain .cart .myCart a {
  display: inline-block;
  font-size: 16px;
  color: black;
  height: 30px;
  width: 100%;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#head #headMain .cart .myCart a img {
  width: 20px;
  height: 20px;
  vertical-align: top;
  margin-top: 5px;
}
#head #headMain .cart .myCart a span {
  margin-bottom: 8px;
}
nav {
  width: 100%;
  height: 64px;
  border-bottom: 2px solid #d50000;
  background-color: white;
}
nav .nav {
  width: 1200px;
  height: 62px;
  margin: 0 auto;
}
nav .nav .classify {
  width: 220px;
  height: 62px;
  background-color: #d50000;
  color: white;
  line-height: 62px;
  text-align: center;
  display: inline-block;
  float: left;
  font-size: 18px;
}
nav .nav ul {
  width: 980px;
  height: 62px;
  float: left;
}
nav .nav ul li {
  float: left;
  width: 14.28%;
  height: 62px;
  text-align: center;
  line-height: 62px;
  background-color: black;
}
nav .nav ul li a {
  color: white;
  font-size: 16px;
}
main {
  width: 100%;
  background-color: white;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}
main #bread {
  width: 1200px;
  margin: 0 auto;
  height: 43px;
  background-color: #f5f5f5;
  line-height: 43px;
  color: #868686;
  padding-left: 15px;
}
main #personal {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  margin-top: 20px;
}
main #personal .leftMenu {
  width: 210px;
  border: 1px solid #ebebeb;
  position: relative;
  background-color: white;
}
main #personal .leftMenu > h3 {
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #ebebeb;
  background-color: #f5f5f5;
  text-indent: 20px;
}
main #personal .leftMenu dl {
  margin-top: 10px;
  margin-bottom: 20px;
}
main #personal .leftMenu dl dt {
  font-size: 14px;
  font-weight: bold;
  text-indent: 30px;
  line-height: 30px;
}
main #personal .leftMenu dl dt span {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
  background-color: #d50000;
  vertical-align: middle;
}
main #personal .leftMenu dl dd > p {
  font-size: 13px;
  text-indent: 40px;
  line-height: 30px;
}
main #personal .leftMenu dl dd .hideDiv {
  color: #595959;
  position: absolute;
  width: 980px;
  height: 675px;
  top: -1px;
  left: 220px;
  border: 1px solid #ebebeb;
  display: none;
  background-color: white;
  text-indent: 0;
}
main #personal .leftMenu dl dd .myVIP {
  padding: 30px 50px;
}
main #personal .leftMenu dl dd .myVIP .VIP {
  height: 250px;
  width: 100%;
  background-color: #f2f2f2;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPpic {
  width: 250px;
  height: 250px;
  border: 1px solid #eaeaea;
  float: left;
  background-color: white;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPinfor {
  width: 628px;
  height: 250px;
  float: left;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPinfor p {
  margin-top: 100px;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPinfor p span {
  font-size: 16px;
  margin-left: 20px;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPinfor p label {
  font-size: 18px;
  color: #d50000;
  font-weight: bolder;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPinfor .bar {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 15px;
  padding: 0 85px 0 40px;
  text-indent: 0;
  font-size: 0;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPinfor .bar span {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #d9d9d9;
  border-radius: 50%;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPinfor .bar label {
  width: 147.5px;
  height: 2px;
  display: inline-block;
  background-color: #d9d9d9;
  margin-bottom: 6.5px;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPinfor > span {
  font-size: 14px;
  font-weight: bold;
  margin-right: 90px;
  width: 70px;
  display: inline-block;
  text-indent: 0;
  text-align: center;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPinfor > span:first-of-type {
  margin-left: 20px;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPinfor > span:last-of-type {
  margin-right: 0;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPdata {
  width: 100%;
  margin-top: 50px;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPdata table {
  width: 100%;
  border: 1px solid #ebebeb;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPdata table th,
main #personal .leftMenu dl dd .myVIP .VIP .VIPdata table td {
  text-align: center;
  text-indent: 0;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPdata table th {
  background-color: #f5f5f5;
}
main #personal .leftMenu dl dd .myVIP .VIP .VIPdata table tr {
  height: 30px;
  line-height: 30px;
}
main #personal .leftMenu dl dd .myVIP .VIP .clear {
  clear: both;
  content: '';
  overflow: hidden;
}
main #personal .leftMenu dl dd .myOrder {
  padding: 20px;
}
main #personal .leftMenu dl dd .myOrder ul {
  float: left;
}
main #personal .leftMenu dl dd .myOrder ul li {
  float: left;
}
main #personal .leftMenu dl dd .myOrder ul li a {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #ebebeb;
  line-height: 14px;
}
main #personal .leftMenu dl dd .myOrder ul li:last-of-type a {
  border-right: none;
}
main #personal .leftMenu dl dd .myOrder > span {
  float: right;
}
main #personal .leftMenu dl dd .myOrder .clear {
  clear: both;
  content: '';
  overflow: hidden;
}
main #personal .leftMenu dl dd .myOrder table {
  width: 100%;
}
main #personal .leftMenu dl dd .myOrder table .thead {
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
}
main #personal .leftMenu dl dd .myOrder table td,
main #personal .leftMenu dl dd .myOrder table th {
  text-align: center;
}
main #personal .leftMenu dl dd .myOrder table .orderInfo {
  height: 40px;
  line-height: 40px;
}
main #personal .leftMenu dl dd .myOrder table .orderInfo td {
  text-align: left;
}
main #personal .leftMenu dl dd .myOrder table .orderInfor {
  height: 100px;
}
main #personal .leftMenu dl dd .myOrder table .orderInfor .amount {
  color: #d50000;
  font-weight: bolder;
}
main #personal .leftMenu dl dd .myOrder table .orderInfor .namePic {
  padding: 0 20px;
}
main #personal .leftMenu dl dd .myOrder table .orderInfor .namePic p {
  float: left;
  width: 200px;
  overflow: hidden;
  height: 32px;
  margin: 34px 0 0 40px;
}
main #personal .leftMenu dl dd .myOrder table .orderInfor td button {
  width: 90px;
  height: 28px;
  background-color: #d50000;
  color: white;
  line-height: 28px;
  text-align: center;
  border: 1px solid #d50000;
  font-weight: bolder;
}
main #personal .leftMenu dl dd .myOrder table .orderInfor td .status {
  color: #d50000;
  font-weight: bold;
}
main #personal .leftMenu dl dd .myOrder table .orderInfor td img {
  height: 100px;
  width: 142px;
  float: left;
}
main #personal .leftMenu dl dd .myCollect {
  padding: 20px;
}
main #personal .leftMenu dl dd .myCollect table {
  width: 100%;
  margin-top: 10px;
}
main #personal .leftMenu dl dd .myCollect table th,
main #personal .leftMenu dl dd .myCollect table td {
  text-align: center;
}
main #personal .leftMenu dl dd .myCollect table th {
  height: 40px;
  line-height: 40px;
}
main #personal .leftMenu dl dd .myCollect table .thead {
  background-color: #f5f5f5;
}
main #personal .leftMenu dl dd .myCollect table td {
  height: 100px;
}
main #personal .leftMenu dl dd .myCollect table td button {
  width: 90px;
  height: 28px;
  background-color: #d50000;
  color: white;
  line-height: 28px;
  text-align: center;
  border: 1px solid #d50000;
  font-weight: bolder;
}
main #personal .leftMenu dl dd .myCollect table td img {
  height: 100px;
  width: 142px;
  float: left;
}
main #personal .leftMenu dl dd .myCollect table .namePic {
  padding: 0 20px;
}
main #personal .leftMenu dl dd .myCollect table .namePic p {
  float: left;
  width: 200px;
  overflow: hidden;
  height: 16px;
  margin: 42px 0 0 40px;
}
main #personal .leftMenu dl dd .shoppe h3 {
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 10px;
  background-color: #f5f5f5;
}
main #personal .leftMenu dl dd .shoppe .shoppeLeft {
  width: 130px;
  float: left;
  height: 600px;
  background-color: #f5f5f5;
  border-right: 1px solid #e6e6e6;
  overflow: auto;
}
main #personal .leftMenu dl dd .shoppe .shoppeLeft h3 {
  line-height: 36px;
  padding-left: 10px;
}
main #personal .leftMenu dl dd .shoppe .shoppeLeft .shopList {
  padding-left: 25px;
}
main #personal .leftMenu dl dd .shoppe .shoppeLeft .shopList li {
  margin: 5px 0;
}
main #personal .leftMenu dl dd .shoppe .shoppeLeft .shopList .zgClassOne {
  text-align: center;
}
main #personal .leftMenu dl dd .shoppe .shoppeLeft .shopList .zgClassOne .classOnebox {
  background: yellow;
  width: 80px;
  padding: 5px 0;
  cursor: pointer;
}
main #personal .leftMenu dl dd .shoppe .shoppeLeft .shopList .zgClassOne .zgClassTwo {
  display: none;
}
main #personal .leftMenu dl dd .shoppe .shoppeLeft .shopList .zgClassOne .zgClassTwo li .classTwobox {
  background: #35b244;
  width: 80px;
  padding: 5px 0;
  cursor: pointer;
}
main #personal .leftMenu dl dd .shoppe .shoppeLeft .shopList .zgClassOne .zgClassTwo li .zgClassThree {
  display: none;
}
main #personal .leftMenu dl dd .shoppe .shoppeLeft .shopList .zgClassOne .zgClassTwo li .zgClassThree li {
  background: red;
  padding: 5px 0;
  width: 80px;
  cursor: pointer;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight {
  width: 848px;
  float: left;
  height: 600px;
  position: relative;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .search {
  height: 36px;
  background-color: #f5f5f5;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .search ul li {
  float: left;
  line-height: 36px;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .search ul li a {
  padding: 0 10px;
  border-right: 1px solid #e6e6e6;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .search input {
  height: 24px;
  width: 150px;
  margin-top: 6px;
  vertical-align: bottom;
  border: 1px solid #e6e6e6;
  padding-left: 10px;
  margin: 6px  10px 0 20px;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .search button {
  height: 24px;
  width: 70px;
  background-color: #d50000;
  color: white;
  border: 1px solid #d50000;
  font-weight: bolder;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .goodList {
  width: 100%;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .goodList .good {
  width: 25%;
  height: 300px;
  float: left;
  padding: 0 35px;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .goodList .good .img {
  height: 170px;
  width: 100%;
  padding: 10px 16px;
  margin-top: 10px;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .goodList .good input[type='number'] {
  width: 30px;
  -moz-appearance: textfield;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .goodList .good input::-webkit-outer-spin-button,
main #personal .leftMenu dl dd .shoppe .shoppeRight .goodList .good input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .goodList .good input[type='button']:hover {
  cursor: pointer;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .goodList .good input {
  height: 24px;
  vertical-align: middle;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .goodList .good button {
  height: 24px;
  vertical-align: middle;
  background-color: #d50000;
  color: white;
  font-weight: bolder;
  padding: 0 2px;
  border: 1px solid #d50000;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .goodList .good .price {
  margin-bottom: 5px;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .goodList .good .price span {
  color: #d50000;
  font-size: 14px;
}
main #personal .leftMenu dl dd .shoppe .shoppeRight .goodList .good .name {
  margin: 5px 0 5px 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main #personal .leftMenu dl dd .purchaseReport h3 {
  height: 42px;
  line-height: 42px;
  padding-left: 10px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f5f5f5;
}
main #personal .leftMenu dl dd .purchaseReport ul {
  position: relative;
}
main #personal .leftMenu dl dd .purchaseReport ul li {
  float: left;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
}
main #personal .leftMenu dl dd .purchaseReport ul li .hideDiv2 {
  position: absolute;
  top: 34px;
  left: 0;
  display: none;
  width: 978px;
  height: 566px;
  background-color: #f2f2f2;
}
main #personal .leftMenu dl dd .purchaseReport ul li .departmentCharge .search,
main #personal .leftMenu dl dd .purchaseReport ul li .category .search,
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseRanking .search {
  height: 70px;
  line-height: 70px;
  padding-left: 15px;
}
main #personal .leftMenu dl dd .purchaseReport ul li .departmentCharge .search select,
main #personal .leftMenu dl dd .purchaseReport ul li .category .search select,
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseRanking .search select,
main #personal .leftMenu dl dd .purchaseReport ul li .departmentCharge .search input,
main #personal .leftMenu dl dd .purchaseReport ul li .category .search input,
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseRanking .search input,
main #personal .leftMenu dl dd .purchaseReport ul li .departmentCharge .search button,
main #personal .leftMenu dl dd .purchaseReport ul li .category .search button,
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseRanking .search button {
  height: 28px;
}
main #personal .leftMenu dl dd .purchaseReport ul li .departmentCharge .search button,
main #personal .leftMenu dl dd .purchaseReport ul li .category .search button,
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseRanking .search button {
  padding: 0 15px;
}
main #personal .leftMenu dl dd .purchaseReport ul li .departmentCharge .search .find,
main #personal .leftMenu dl dd .purchaseReport ul li .category .search .find,
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseRanking .search .find {
  background-color: #d50000;
  color: white;
  border: 1px solid #d50000;
}
main #personal .leftMenu dl dd .purchaseReport ul li .departmentCharge .search .out,
main #personal .leftMenu dl dd .purchaseReport ul li .category .search .out,
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseRanking .search .out {
  background-color: #35b244;
  color: white;
  border: 1px solid #35b244;
}
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseRanking .rankList {
  padding: 0 15px;
}
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseRanking .rankList table {
  background-color: white;
  width: 100%;
  border-collapse: collapse;
}
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseRanking .rankList table tr th,
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseRanking .rankList table tr .td {
  text-align: center;
}
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseRanking .rankList h3 {
  background-color: white;
  text-align: center;
}
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseDetail .search {
  line-height: 50px;
  padding-left: 15px;
}
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseDetail .search select,
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseDetail .search input,
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseDetail .search button {
  height: 28px;
}
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseDetail .search button {
  padding: 0 15px;
}
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseDetail .search .find {
  background-color: #d50000;
  color: white;
  border: 1px solid #d50000;
}
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseDetail .search .out {
  background-color: #35b244;
  color: white;
  border: 1px solid #35b244;
}
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseDetail .search .empty {
  background-color: black;
  color: white;
  border: 1px solid black;
}
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseDetail .detailList {
  padding: 0 15px;
}
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseDetail .detailList table {
  background-color: white;
  width: 100%;
  border-collapse: collapse;
}
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseDetail .detailList table tr th,
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseDetail .detailList table tr .td {
  text-align: center;
}
main #personal .leftMenu dl dd .purchaseReport ul li .purchaseDetail .detailList h3 {
  text-align: center;
  background-color: white;
}
main #personal .leftMenu dl dd .purchaseReport ul li:hover {
  cursor: pointer;
}
main #personal .leftMenu dl dd .purchaseReport ul .active2 {
  background-color: #f2f2f2;
}
main #personal .leftMenu dl dd .request h3 {
  height: 42px;
  line-height: 42px;
  padding-left: 10px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f5f5f5;
}
main #personal .leftMenu dl dd .request ul {
  position: relative;
}
main #personal .leftMenu dl dd .request ul li {
  float: left;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
}
main #personal .leftMenu dl dd .request ul li .hideDiv2 {
  position: absolute;
  top: 34px;
  left: 0;
  display: none;
  width: 978px;
  height: 566px;
  background-color: #f2f2f2;
}
main #personal .leftMenu dl dd .request ul li .departmentCharge .search,
main #personal .leftMenu dl dd .request ul li .category .search,
main #personal .leftMenu dl dd .request ul li .purchaseRanking .search {
  height: 70px;
  line-height: 70px;
  padding-left: 15px;
}
main #personal .leftMenu dl dd .request ul li .departmentCharge .search select,
main #personal .leftMenu dl dd .request ul li .category .search select,
main #personal .leftMenu dl dd .request ul li .purchaseRanking .search select,
main #personal .leftMenu dl dd .request ul li .departmentCharge .search input,
main #personal .leftMenu dl dd .request ul li .category .search input,
main #personal .leftMenu dl dd .request ul li .purchaseRanking .search input,
main #personal .leftMenu dl dd .request ul li .departmentCharge .search button,
main #personal .leftMenu dl dd .request ul li .category .search button,
main #personal .leftMenu dl dd .request ul li .purchaseRanking .search button {
  height: 28px;
}
main #personal .leftMenu dl dd .request ul li .departmentCharge .search input,
main #personal .leftMenu dl dd .request ul li .category .search input,
main #personal .leftMenu dl dd .request ul li .purchaseRanking .search input {
  width: 100px;
  margin-right: 14px;
}
main #personal .leftMenu dl dd .request ul li .departmentCharge .search input[type='checkbox'],
main #personal .leftMenu dl dd .request ul li .category .search input[type='checkbox'],
main #personal .leftMenu dl dd .request ul li .purchaseRanking .search input[type='checkbox'] {
  width: 13px;
}
main #personal .leftMenu dl dd .request ul li .departmentCharge .search button,
main #personal .leftMenu dl dd .request ul li .category .search button,
main #personal .leftMenu dl dd .request ul li .purchaseRanking .search button {
  padding: 0 15px;
}
main #personal .leftMenu dl dd .request ul li .departmentCharge .search .find,
main #personal .leftMenu dl dd .request ul li .category .search .find,
main #personal .leftMenu dl dd .request ul li .purchaseRanking .search .find {
  background-color: #d50000;
  color: white;
  border: 1px solid #d50000;
  border-radius: 2px;
}
main #personal .leftMenu dl dd .request ul li .departmentCharge .rankList {
  padding: 0 15px;
}
main #personal .leftMenu dl dd .request ul li .departmentCharge .rankList table {
  background-color: white;
  width: 100%;
  border-collapse: collapse;
}
main #personal .leftMenu dl dd .request ul li .departmentCharge .rankList table tr th,
main #personal .leftMenu dl dd .request ul li .departmentCharge .rankList table tr .td {
  text-align: center;
  font-weight: 400;
}
main #personal .leftMenu dl dd .request ul li .departmentCharge .rankList h3 {
  background-color: white;
  text-align: center;
}
main #personal .leftMenu dl dd .request ul li:hover {
  cursor: pointer;
}
main #personal .leftMenu dl dd .request ul .active2 {
  background-color: #f2f2f2;
}
main #personal .leftMenu dl dd .addressTop {
  height: 715px;
  background: none;
}
main #personal .leftMenu dl dd .addressTop .addressBox {
  height: 490px;
  border: 1px solid #ebebeb;
  background: #fff;
}
main #personal .leftMenu dl dd .addressTop .addressBox h3 {
  height: 42px;
  line-height: 42px;
  padding-left: 10px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f5f5f5;
}
main #personal .leftMenu dl dd .addressTop .addressBox p {
  padding: 15px 22px;
  padding-bottom: 10px;
}
main #personal .leftMenu dl dd .addressTop .addressBox p span {
  color: #d50000;
}
main #personal .leftMenu dl dd .addressTop .addressBox p .onespan {
  font-size: 14px;
  margin-left: 3px;
}
main #personal .leftMenu dl dd .addressTop .addressBox table {
  padding: 0 22px;
}
main #personal .leftMenu dl dd .addressTop .addressBox table tr td {
  font-size: 14px;
  height: 40px;
  position: relative;
}
main #personal .leftMenu dl dd .addressTop .addressBox table tr td > span {
  color: #d50000;
}
main #personal .leftMenu dl dd .addressTop .addressBox table tr td input[type='text'] {
  height: 28px;
  padding-left: 8px;
}
main #personal .leftMenu dl dd .addressTop .addressBox table tr td select {
  height: 30px;
  width: 98px;
  margin-right: 8px;
  outline: none;
  line-height: 28px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  z-index: 10;
  padding-left: 8px;
}
main #personal .leftMenu dl dd .addressTop .addressBox table tr td .spOne {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-left: 1px solid #a9a9a9;
  background: #f2f2f2;
  position: absolute;
  top: 6px;
  left: 74px;
  z-index: 1;
  text-align: center;
  line-height: 28px;
}
main #personal .leftMenu dl dd .addressTop .addressBox table tr td .spTwo {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-left: 1px solid #a9a9a9;
  background: #f2f2f2;
  position: absolute;
  top: 6px;
  left: 184px;
  z-index: 1;
  text-align: center;
  line-height: 28px;
}
main #personal .leftMenu dl dd .addressTop .addressBox table tr td .spThr {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-left: 1px solid #a9a9a9;
  border-bottom: none;
  background: #f2f2f2;
  position: absolute;
  top: 6px;
  left: 294px;
  z-index: 1;
  text-align: center;
  line-height: 28px;
}
main #personal .leftMenu dl dd .addressTop .addressBox table tr td textarea {
  width: 318px;
  height: 80px;
  padding-left: 8px;
  padding-top: 8px;
}
main #personal .leftMenu dl dd .addressTop .addressBox table tr td button {
  padding: 10px 26px;
  background: #d50000;
  color: #fff;
  border: 0px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 16px;
}
main #personal .leftMenu dl dd .addressTop .addressBox table tr td .remove {
  color: #d50000;
  background: #fff;
  border: 1px solid #d50000;
}
main #personal .leftMenu dl dd .addressTop .addressBox table tr .tdLeft {
  text-align: right;
}
main #personal .leftMenu dl dd .addressTop .addressBox table tr .tdRight {
  padding-left: 5px;
}
main #personal .leftMenu dl dd .addressTop .addressBox table tr .tdRight span {
  padding: 5px 15px;
  margin-left: 10px;
}
main #personal .leftMenu dl dd .addressBot {
  margin-top: 10px;
  padding: 15px 22px;
  background: #fff;
}
main #personal .leftMenu dl dd .addressBot table {
  width: 930px;
  border-collapse: collapse;
  margin-top: 10px;
  text-align: center;
}
main #personal .leftMenu dl dd .addressBot table tr {
  border: 1px solid #ececec;
  min-height: 50px;
  line-height: 50px;
}
main #personal .leftMenu dl dd .addressBot table tr > th {
  background: #f5f5f5;
  height: 40px;
}
main #personal .leftMenu dl dd .addressBot table tr td .default {
  display: inline-block;
  padding: 5px 10px;
  background: #d50000;
  color: #fff;
  line-height: 18px;
  margin-right: 18px;
}
main #personal .leftMenu dl dd .addressBot table tr td .addressSpan {
  color: #d50000;
}
main #personal .leftMenu dl dd .getorder {
  background-color: #f2f2f2;
}
main #personal .leftMenu dl dd .getorder h3 {
  height: 42px;
  line-height: 42px;
  padding-left: 10px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f5f5f5;
}
main #personal .leftMenu dl dd .getorder .search {
  height: 70px;
  line-height: 70px;
  padding-left: 15px;
}
main #personal .leftMenu dl dd .getorder .search select,
main #personal .leftMenu dl dd .getorder .search input,
main #personal .leftMenu dl dd .getorder .search button {
  height: 28px;
}
main #personal .leftMenu dl dd .getorder .search button {
  padding: 0 15px;
}
main #personal .leftMenu dl dd .getorder .search .find {
  background-color: #d50000;
  color: white;
  border: 1px solid #d50000;
  border-radius: 2px;
}
main #personal .leftMenu dl dd .getorder .search .out {
  background-color: #35b244;
  color: white;
  border: 1px solid #35b244;
  border-radius: 2px;
}
main #personal .leftMenu dl dd .getorder .rankList {
  padding: 0 15px;
  /*设置边框的*/
}
main #personal .leftMenu dl dd .getorder .rankList table {
  width: 100%;
  font-size: 10px;
  border-collapse: collapse;
  /*边框会合并为一个单一的边框*/
}
main #personal .leftMenu dl dd .getorder .rankList thead {
  background: #f2f2f2;
}
main #personal .leftMenu dl dd .getorder .rankList th {
  text-align: left;
  padding: .5em .5em;
  font-weight: bold;
}
main #personal .leftMenu dl dd .getorder .rankList td {
  padding: .5em .5em;
  border-bottom: solid 1px #ccc;
}
main #personal .leftMenu dl dd .getorder .rankList table,
main #personal .leftMenu dl dd .getorder .rankList table tr th,
main #personal .leftMenu dl dd .getorder .rankList table tr td {
  border: 1px solid #ededed;
  text-align: center;
  color: #525252;
  background-color: white;
}
main #personal .leftMenu dl dd .getorder .rankList h3 {
  background-color: white;
  text-align: center;
}
main #personal .leftMenu dl dd p:hover {
  cursor: pointer;
}
main #personal .leftMenu dl .active {
  color: #d50000;
}
#leftNav {
  width: 70px;
  height: 390px;
  background-color: #5a5757;
  position: fixed;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
#leftNav h6 {
  height: 40px;
  background-color: #e10000;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
#leftNav a {
  display: inline-block;
  width: 70px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 14px;
}
#city_china {
  overflow: hidden;
}
#city_china p {
  float: left;
  padding: 5px  0px ;
}
.dzGl span {
  padding: 0 5px;
  cursor: pointer;
}
.geLeft {
  float: left;
  padding: 35px 0 0 55px;
  height: 100%;
}
.geLeft .geImg {
  width: 110px;
  height: 110px;
  background: #35b244;
  border-radius: 100px;
  overflow: hidden;
}
.geLeft .ghImg {
  width: 110px;
  height: 30px;
  border: 1px solid #d9d9d9;
  background: #f5f5f5;
  text-align: center;
  line-height: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.geRight {
  padding-top: 75px;
  padding-left: 20px;
  float: left;
}
.geRight li {
  margin-top: 20px;
  overflow: hidden;
  margin-left: 18px;
}
.geRight li #name {
  width: 200px;
  height: 30px;
}
.geRight li #dz {
  width: 200px;
  height: 30px;
}
.geRight li #qq {
  width: 200px;
  height: 30px;
  margin-left: 10px;
}
.geRight li .sr {
  float: left;
}
.geRight li .srSelect {
  padding-left: 15px;
  float: left;
}
.geRight li .srSelect p {
  padding: 0px !important;
}
.geRight li .Verification {
  color: #d50000;
  padding-left: 10px;
  cursor: pointer;
}
.geRight li .modify {
  color: #d50000;
  padding-left: 10px;
  cursor: pointer;
}
.geRight li #city_chinatwo {
  overflow: hidden;
}
.geRight li #city_chinatwo p {
  float: left;
}
.geRight li #city_chinatwo p select {
  height: 30px;
  width: 90px;
  margin-right: 8px;
}
.geRight li .zy {
  color: #d50000;
}
.geRight li .zljd {
  width: 200px;
  height: 20px;
  border: 1px solid #a9a9a9;
  float: left;
  margin-left: 20px;
  position: relative;
}
.geRight li .zljd .jdmsg {
  width: 60%;
  height: 20px;
  background: #d50000;
  float: left;
}
.geRight li .zljd .jdnum {
  float: left;
  position: absolute;
  left: 80%;
}
.geRight .tjModify {
  width: 110px;
  height: 35px;
  background: #d50000;
  color: white;
  font-weight: 800;
  font-size: 15px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}
.geRight li:nth-child(1) {
  margin-top: 0px;
}
.geRight li:nth-child(6) {
  margin-left: 0px;
}
.geRight li:nth-child(4) input {
  margin-left: 30px;
}
.geRight .gemsg {
  float: left !important;
}
.geRight .gemsg p {
  padding: 0 !important;
}
.geRight .dqbox {
  float: left;
  padding-top: 8px;
  padding-right: 10px;
}
.rqselect {
  height: 30px;
  width: 90px;
  margin-right: 8px;
}
.shopVip,
.Financial,
.Report,
.Application {
  display: none;
}
.department .departmentLeft {
  width: 200px;
  float: left;
  height: 600px;
  border-right: 1px solid #e6e6e6;
}
.department .departmentLeft h3 {
  line-height: 36px;
  padding-left: 10px;
  background-color: #f5f5f5;
}
.department .departmentLeft .departLeft .departLeftTop {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.department .departmentLeft .departLeft .departLeftTop .departName {
  text-align: right;
  float: left;
  width: 80px;
  font-weight: 600;
}
.department .departmentLeft .departLeft .departLeftTop input {
  width: 60px;
  float: left;
}
.department .departmentLeft .departLeft .departLeftTop .departButton {
  text-align: center;
  border: 1px solid #e6e6e6;
  background: #f2f2f2;
  border-radius: 2px;
  padding: 1px 5px;
  float: left;
  margin-left: 10px;
}
.department .departmentLeft .departLeft .departLeftTop li {
  margin-top: 10px;
  height: 20px;
}
.department .departmentLeft .departLeftdown {
  padding-top: 20px;
}
.department .departmentLeft .departLeftdown .downHead {
  text-align: center;
  width: 100%;
  padding: 0 10px;
  cursor: pointer;
}
.department .departmentLeft .departLeftdown .downHead .departico {
  height: 9px;
  width: 9px;
  border: 1px solid #b2b1b1;
  float: left;
  text-align: center;
  margin-top: 3px;
}
.department .departmentLeft .departLeftdown .downHead .bjShx {
  font-weight: 600;
}
.department .departmentLeft .departLeftdown .downHead .childList {
  padding-top: 5px;
}
.department .departmentLeft .departLeftdown .downHead .childList li {
  width: 25px;
  height: 25px;
  border-left: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
  position: relative;
  margin-top: 0;
  left: 35px;
  font-weight: 600;
}
.department .departmentLeft .departLeftdown .downHead .childList li .bm {
  position: absolute;
  left: 25px;
  width: 132px;
  text-align: left;
  top: 15px;
  font-weight: 600;
}
.department .departmentRight {
  width: 778px;
  float: left;
  height: 600px;
}
.department .departmentRight .xlrNes {
  height: 36px;
  background: #f5f5f5;
  line-height: 36px;
  padding-left: 10px;
}
.department .departmentRight .xlrNes span:nth-child(1) {
  font-size: 14px;
}
.department .departmentRight .xlrNes .build {
  padding: 3px 15px;
  background: #d50000;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.department .departmentRight .xlrNes .editLink {
  padding: 3px 15px;
  background: #35b244;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.department .departmentRight .departTbaleBox {
  height: 600px;
  overflow: auto;
  /*设置边框的*/
}
.department .departmentRight .departTbaleBox table {
  width: 100%;
  font-size: 10px;
  border-collapse: collapse;
  /*边框会合并为一个单一的边框*/
}
.department .departmentRight .departTbaleBox table .active {
  background-color: #868686;
}
.department .departmentRight .departTbaleBox thead {
  background: #f2f2f2;
}
.department .departmentRight .departTbaleBox th {
  text-align: left;
  padding: .5em .5em;
  font-weight: bold;
}
.department .departmentRight .departTbaleBox td {
  padding: .5em .5em;
  border-bottom: solid 1px #ccc;
}
.department .departmentRight .departTbaleBox table,
.department .departmentRight .departTbaleBox table tr th,
.department .departmentRight .departTbaleBox table tr td {
  border: 1px solid #ededed;
  text-align: center;
  color: #525252;
}
.darkBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}
.darkBox .areas {
  width: 400px;
  height: 550px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
}
.darkBox .areas h3 {
  height: 40px;
  text-align: center;
  background-color: #ccc;
  line-height: 40px;
  font-size: 16px;
}
.darkBox .areas h3 span {
  float: right;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  color: black;
  margin-top: 7.5px;
  margin-right: 7.5px;
  line-height: 25px;
}
.darkBox .areas h3 span:hover {
  cursor: pointer;
}
.darkBox .areas .textArea {
  padding: 20px;
}
.darkBox .areas .textArea > p {
  line-height: 28px;
}
.darkBox .areas .textArea > p input,
.darkBox .areas .textArea > p button {
  height: 28px;
  vertical-align: middle;
}
.darkBox .areas .textArea > p button {
  margin-left: 5px;
}
.darkBox .areas .textArea > p span {
  display: inline-block;
  width: 60px;
}
.darkBox .areas .textArea > button {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: 60px;
}
.page_div {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: "microsoft yahei";
  color: #666666;
  margin-right: 10px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
/*
 * 页数按钮样式
 */
.page_div span {
  min-width: 30px;
  height: 28px;
  border: 1px solid #d50000!important;
  text-align: center;
  margin: 0 4px;
  cursor: pointer;
  line-height: 28px;
  color: #666666;
  font-size: 13px;
  display: inline-block;
}
#firstPage,
#lastPage {
  width: 50px;
  color: #d50000;
  border: 1px solid #d50000!important;
}
#prePage,
#nextPage {
  width: 70px;
  color: #d50000;
  border: 1px solid #d50000!important;
}
.page_div .current {
  background-color: #d50000;
  border-color: #d50000;
  color: #FFFFFF;
}
.totalPages {
  margin: 0 10px;
}
.totalPages span,
.totalSize span {
  color: #0073A9;
  margin: 0 5px;
}
.orderItem {
  width: 978px;
  height: 600px;
  position: absolute;
  top: 42px;
  left: 0;
  background-color: white;
  border: 1px solid #0073A9;
  display: none;
}
.orderItem > span {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: #3f93d8;
  color: white;
  border: 1px solid #3f93d8;
  border-radius: 5px;
  margin: 10px 0 0 439px;
}
.orderItem > span:hover {
  cursor: pointer;
}
.orderItem h4 {
  line-height: 30px;
  text-indent: 10px;
  background-color: #eaeaea;
}
.orderItem > div {
  padding: 5px;
}
.orderItem table {
  border-collapse: collapse;
  width: 100%;
  border: #eaeaea;
}
.orderItem table th {
  height: 30px;
  line-height: 30px;
  background-color: #3f93d8;
  color: white;
  font-weight: bolder;
}
.orderItem table td {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.noMyReview td {
  text-align: center;
}
.notReconciled td {
  text-align: center;
}
.orderdetails table {
  text-align: center;
}
.yesMyReview td {
  text-align: center;
}
.refuseMyReview td {
  text-align: center;
}
.noReview,
.yesReview,
.refuseReview {
  display: inline-block;
  height: 34px;
}
#rightBar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px;
  background-color: black;
  z-index: 999;
}
#rightBar .barBottom {
  position: absolute;
  left: 0;
  bottom: 0;
}
#rightBar .barBottom ul li {
  width: 30px;
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
#rightBar .barTop {
  position: absolute;
  left: 0;
  top: 150px;
}
#rightBar .barTop ul li {
  width: 30px;
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
}
.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.35em;
  fill: currentColor;
  overflow: hidden;
}
#topAdv {
  width: 100%;
  height: 95px;
  background-color: #a11311;
  position: relative;
  z-index: 2;
  text-align: center;
  overflow: hidden;
}
header {
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 3px 2px #888888;
  box-shadow: 0px 3px 2px #888888;
}
header .menu {
  width: 1200px;
  margin: 0 auto;
  height: 15px;
  margin-top: 17px;
}
header .menu ul li {
  float: left;
  padding: 0 10px;
  border-right: 1px solid #9c9c9c;
}
header .menu ul li:last-child {
  border-right: none;
}
header .menu ul .noBorder {
  border-right: none;
  position: relative;
}
header .menu ul .noBorder .overRegion {
  width: 150px;
  height: auto;
  background: #f2f2f2ec;
  position: absolute;
  display: none;
}
header .menu ul .noBorder .overRegion ul {
  height: 100%;
  line-height: 20px;
  padding: 5px 0;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
}
header .menu ul .noBorder .overRegion ul li {
  height: 20%;
  border: none;
}
header .menu ul .noBorder .overRegion ul li span {
  margin: 7px 10px 0 0;
}
header .menu ul .noBorder .overRegion ul li a {
  color: #1188e2;
  font-weight: bold;
  padding: 0 8px;
}
header .menu ul .noBorder:hover .overRegion {
  display: inline;
}
header .menu .leftUl {
  float: left;
}
header .menu .rightUl {
  float: right;
}
.noBorMeg {
  width: 300px;
  background: #eaeaea;
  position: absolute;
  top: 35px;
  z-index: 999;
  padding: 10px;
  padding-bottom: 20px;
  display: none;
  border-radius: 5px;
}
.noBorMeg li {
  margin-top: 10px;
  cursor: pointer;
}
.Cancellation {
  display: none;
}
#foot {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background-color: white;
}
#foot div {
  width: 1200px;
  height: 98px;
  margin: 0 auto;
}
#list {
  border-bottom: 1px solid #ebebeb;
  background-color: #f7f7f7;
  width: 100%;
  height: 166px;
}
#list div {
  width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
}
#list div ul {
  float: left;
  width: 170px;
}
#list div ul li {
  height: 25px;
  line-height: 25px;
}
#list div ul li a {
  font-size: 12px;
}
#list div ul .title {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
}
#list div .QR {
  float: left;
  width: 80px;
  margin-top: 20px;
}
#list div .QR p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}
#list div .QR img {
  width: 80px;
  height: 80px;
}
footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
footer p {
  text-align: center;
  color: #595959;
  margin-bottom: 10px;
}
footer p a {
  color: #595959;
  padding: 0 10px;
  border-right: 1px solid #595959;
}
footer p .last {
  border-right: none;
}
.simpleAlert {
  position: fixed;
  z-index: 1000;
}
.simpleAlertShelter {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.simpleAlertBody {
  position: fixed;
  display: none;
  width: 476px;
  height: 216px;
  top: 50%;
  left: 50%;
  margin: -188px 0 0 -238px;
  opacity: 0;
  border: 1px solid #948497;
  background-color: #fff;
}
.simpleAlertBodyClose {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 10px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
}
.simpleAlertBodyContent {
  position: absolute;
  top: 30%;
  width: 96%;
  height: 48px;
  overflow-y: auto;
  left: 2%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.simpleAlertBtn {
  position: absolute;
  width: 70px;
  height: 34px;
  top: 60%;
  border: 1px solid #bfbfbf;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}
.simpleAlertBtn1 {
  background-color: #d50000;
  left: 25%;
}
.simpleAlertBtn2 {
  background-color: #f7f7f7;
  color: #333;
  right: 25%;
}
.onlyOne {
  width: 200px;
  height: 36px;
  left: 138px;
}
/*-------------------------------------
zTree Style

version:	3.5.19
author:		Hunter.z
email:		hunter.z@263.net
website:	http://code.google.com/p/jquerytree/

-------------------------------------*/
.ztree * {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree {
  margin: 0;
  padding: 5px;
  color: #333;
}
.ztree li {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  outline: 0;
}
.ztree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.ztree li ul.line {
  background: url(data:image/gif;base64,R0lGODlhCQACAIAAAMzMzP///yH5BAEAAAEALAAAAAAJAAIAAAIEjI9pUAA7) 0 0 repeat-y;
}
.ztree li a {
  padding: 1px 3px 0 0;
  margin: 0;
  cursor: pointer;
  height: 17px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
}
.ztree li a:hover {
  text-decoration: underline;
}
.ztree li a.curSelectedNode {
  padding-top: 0px;
  background-color: #FFE6B0;
  color: black;
  height: 16px;
  border: 1px #FFB951 solid;
  opacity: 0.8;
}
.ztree li a.curSelectedNode_Edit {
  padding-top: 0px;
  background-color: #FFE6B0;
  color: black;
  height: 16px;
  border: 1px #FFB951 solid;
  opacity: 0.8;
}
.ztree li a.tmpTargetNode_inner {
  padding-top: 0px;
  background-color: #316AC5;
  color: white;
  height: 16px;
  border: 1px #316AC5 solid;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.ztree li a input.rename {
  height: 14px;
  width: 80px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  border: 1px #7EC4CC solid;
  *border: 0px;
}
.ztree li span {
  line-height: 16px;
  margin-right: 2px;
}
.ztree li span.button {
  line-height: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url(/src/js/personal/img/zTreeStandard.png?524f504c);
  *background-image: url(/src/js/personal/img/zTreeStandard.gif?158458f7);
}
.ztree li span.button.chk {
  width: 13px;
  height: 13px;
  margin: 0 3px 0 0;
  cursor: auto;
}
.ztree li span.button.chk.checkbox_false_full {
  background-position: 0 0;
}
.ztree li span.button.chk.checkbox_false_full_focus {
  background-position: 0 -14px;
}
.ztree li span.button.chk.checkbox_false_part {
  background-position: 0 -28px;
}
.ztree li span.button.chk.checkbox_false_part_focus {
  background-position: 0 -42px;
}
.ztree li span.button.chk.checkbox_false_disable {
  background-position: 0 -56px;
}
.ztree li span.button.chk.checkbox_true_full {
  background-position: -14px 0;
}
.ztree li span.button.chk.checkbox_true_full_focus {
  background-position: -14px -14px;
}
.ztree li span.button.chk.checkbox_true_part {
  background-position: -14px -28px;
}
.ztree li span.button.chk.checkbox_true_part_focus {
  background-position: -14px -42px;
}
.ztree li span.button.chk.checkbox_true_disable {
  background-position: -14px -56px;
}
.ztree li span.button.chk.radio_false_full {
  background-position: -28px 0;
}
.ztree li span.button.chk.radio_false_full_focus {
  background-position: -28px -14px;
}
.ztree li span.button.chk.radio_false_part {
  background-position: -28px -28px;
}
.ztree li span.button.chk.radio_false_part_focus {
  background-position: -28px -42px;
}
.ztree li span.button.chk.radio_false_disable {
  background-position: -28px -56px;
}
.ztree li span.button.chk.radio_true_full {
  background-position: -42px 0;
}
.ztree li span.button.chk.radio_true_full_focus {
  background-position: -42px -14px;
}
.ztree li span.button.chk.radio_true_part {
  background-position: -42px -28px;
}
.ztree li span.button.chk.radio_true_part_focus {
  background-position: -42px -42px;
}
.ztree li span.button.chk.radio_true_disable {
  background-position: -42px -56px;
}
.ztree li span.button.switch {
  width: 18px;
  height: 18px;
}
.ztree li span.button.root_open {
  background-position: -92px -54px;
}
.ztree li span.button.root_close {
  background-position: -74px -54px;
}
.ztree li span.button.roots_open {
  background-position: -92px 0;
}
.ztree li span.button.roots_close {
  background-position: -74px 0;
}
.ztree li span.button.center_open {
  background-position: -92px -18px;
}
.ztree li span.button.center_close {
  background-position: -74px -18px;
}
.ztree li span.button.bottom_open {
  background-position: -92px -36px;
}
.ztree li span.button.bottom_close {
  background-position: -74px -36px;
}
.ztree li span.button.noline_open {
  background-position: -92px -72px;
}
.ztree li span.button.noline_close {
  background-position: -74px -72px;
}
.ztree li span.button.root_docu {
  background: none;
}
.ztree li span.button.roots_docu {
  background-position: -56px 0;
}
.ztree li span.button.center_docu {
  background-position: -56px -18px;
}
.ztree li span.button.bottom_docu {
  background-position: -56px -36px;
}
.ztree li span.button.noline_docu {
  background: none;
}
.ztree li span.button.ico_open {
  margin-right: 2px;
  background-position: -110px -16px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.ico_close {
  margin-right: 2px;
  background-position: -110px 0;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.ico_docu {
  margin-right: 2px;
  background-position: -110px -32px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.edit {
  margin-right: 2px;
  background-position: -110px -48px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.remove {
  margin-right: 2px;
  background-position: -110px -64px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.ico_loading {
  margin-right: 2px;
  background: url(/src/js/personal/img/loading.gif?4f323667) no-repeat scroll 0 0 transparent;
  vertical-align: top;
  *vertical-align: middle;
}
ul.tmpTargetzTree {
  background-color: #FFE6B0;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
span.tmpzTreeMove_arrow {
  width: 16px;
  height: 16px;
  display: inline-block;
  padding: 0;
  margin: 2px 0 0 1px;
  border: 0 none;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -110px -80px;
  background-image: url(/src/js/personal/img/zTreeStandard.png?524f504c);
  *background-image: url(/src/js/personal/img/zTreeStandard.gif?158458f7);
}
ul.ztree.zTreeDragUL {
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #cfcfcf;
  border: 1px #00B83F dotted;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.zTreeMask {
  z-index: 10000;
  background-color: #cfcfcf;
  opacity: 0.0;
  filter: alpha(opacity=0);
  position: absolute;
}
/* level style*/
/*.ztree li span.button.level0 {
	display:none;
}
.ztree li ul.level0 {
	padding:0;
	background:none;
}*/
