<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
<link href="/css//index.css?e057b3ae" rel="stylesheet"></head>
<body>
    <!--头部引用-->
   <!-- <div id="topAdv">
   <img src="/src/img/hed.jpg?c311a9d7"/>
</div> -->
<header>
    <div class="menu">
        <!-- <ul class="leftUl">
            <li>
                <a href="/view/login/index.html">您好，请登录</a>
            </li>
            <li>
                <a href="javascript:void(0)">免费注册</a>
            </li>
            <li class="noBorder">
                <a href="javascript:void(0)">
                    北京
                    <span class="triangle"></span>
                </a>
                <div class="noBorMeg">
                    <ul>
                        <li>上海</li><li>北京</li><li>沈阳</li><li>大连</li><li>山西</li>
                        <li>四川</li><li>黑龙江</li><li>广州</li><li>石家庄</li><li>河北</li>
                        
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="rightUl">
            <li>
                <a href="javascript:void(0)">我的订单</a>
            </li>
            <li>
                <a href="/view/cart/index.html">购物车
                    <span>0</span>件</span>
                </a>
            </li>
            <li>
                <a href="/view/personal/index.html">个人中心</a>
            </li>
            <li>
                <a href="javascript:void(0)">VIP客户中心</a>
            </li>
            <li >
                <a href="javascript:void(0)">手机商城</a>
            </li>
        </ul> -->
    </div>
</header>
    <div id="head">
        <div id="headMain">
            <div class="logo">
                <img src="../img/logo.jpg">
            </div>
            <div class="search">
                <input type="text" placeholder="请输入关键字"><button>搜索</button>
            </div>
            <div class="cart">
                <div class="myCart">
                    <a href="/view/cart/index.html"><img src='../img/购物车.png'> 我的购物车 <span class="triangle"></span></span></a>
                </div>
                <h3>采购专线：400-899-0018</h3>
            </div>
        </div>
    </div>
    
    <nav>
        <div class="nav">
            <a href="javascript:void(0)" class="classify">商品分类</a>
            <ul class='NavList'>
    <!-- <li>
        <a href="/view/index.html">首页</a>
    </li>
    <li>
        <a href="javascript:void(0)">政府采购</a>
    </li>
    <li>
        <a href="javascript:void(0)">企业购</a>
    </li>
    <li>
        <a href="javascript:void(0)">场景采购</a>
    </li>
    <li>
        <a href="/view/wy/index.html">网易严选</a>
    </li>
    <li>
        <a href="/view/enterprise/index.html">关于我们</a>
    </li>
    <li>
        <a href="javascript:void(0)">招商加盟</a>
    </li> -->
</ul>
        </div>  
    </nav>
    <div id="adv">
        <div class="advMain">
            <div class="left">
                <ul>
                   
                </ul>
            </div>
            <div class="swiper">

                <div class="swiper-container"style="height:450px">
                        <div class="swiper-wrapper" >
                            <div class="swiper-slide">
                                    <a href="details/index.html?goods_id=27"><img src="../img/swiper.jpg"/></a>
                            </div>
                            <div class="swiper-slide"><a href="details/index.html?goods_id=27"><img src="../img/swiper.jpg"/></a></div> 
                        </div>
                        <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="right">
                <div class="login">
                    <h4>嗨，你好，欢迎来到申合信商城！</h4>
                    <button class="loginBut" onclick="window.location.href='./login/index.html'">立即登陆</button><button class="registerBut">免费注册</button>
                </div>
                <div class="rightAdv">
                    <a href="javascript:void(0)"><img src="../img/dajianjia.jpg"></a>
                    <a href="javascript:void(0)"><img src="../img/dajianjia.jpg"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="scene">
        <h2>场景采购 <span>SCENE PROCUREMENT</span></h2>
        <div class="sceneType">
            <a href="javascript:void(0)"><img src="../img/scene.jpg" class="imgScale"></a>
            <a href="javascript:void(0)"><img src="../img/scene.jpg" class="imgScale"></a>
            <a href="javascript:void(0)"><img src="../img/scene.jpg" class="imgScale"></a>
            <a href="javascript:void(0)"><img src="../img/scene.jpg" class="imgScale"></a>
            <a href="javascript:void(0)"><img src="../img/scene.jpg" class="imgScale"></a>
            <a href="javascript:void(0)"><img src="../img/scene.jpg" class="imgScale"></a>
            <a href="javascript:void(0)"><img src="../img/scene.jpg" class="imgScale"></a>
            <a href="javascript:void(0)"><img src="../img/scene.jpg" class="imgScale"></a>
        </div>
    </div>
    <div id="hot">
        <h2>热销品类 <span>SELL LIKE HOT CAKES CATEGORY</span></h2>
        <div class="hotType">
            <div class="leftHot">
                <div class="type margin10">
                    <a href="javascript:void(0)">
                        <div class="img">
                            <img src="../img/hot1.jpg" class="imgScale">
                        </div>
                        <div class="infor">
                            <h5>厨房年货精选</h5>
                            <p>厨电劲爆特惠</p>
                            <p>劲爆不止5折</p>
                        </div>
                    </a>
                </div>
                <div class="type margin10">
                    <a href="javascript:void(0)">
                        <div class="img">
                            <img src="../img/hot1.jpg" class="imgScale">
                        </div>
                        <div class="infor">
                            <h5>厨房年货精选</h5>
                            <p>厨电劲爆特惠</p>
                            <p>劲爆不止5折</p>
                        </div>
                    </a>
                </div>
                <div class="type margin10">
                    <a href="javascript:void(0)">
                        <div class="img">
                            <img src="../img/hot1.jpg" class="imgScale">
                        </div>
                        <div class="infor">
                            <h5>厨房年货精选</h5>
                            <p>厨电劲爆特惠</p>
                            <p>劲爆不止5折</p>
                        </div>
                    </a>
                </div>
                <div class="type margin10">
                    <a href="javascript:void(0)">
                        <div class="img">
                            <img src="../img/hot1.jpg" class="imgScale">
                        </div>
                        <div class="infor">
                            <h5>厨房年货精选</h5>
                            <p>厨电劲爆特惠</p>
                            <p>劲爆不止5折</p>
                        </div>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="rightHot">
                <div class="type margin20">
                    <a href="javascript:void(0)">
                        <h5>家店员工福利</h5>
                        <p>满减优惠</p>
                       <div class="rightImgBox"><img src="../img/hot2.jpg" class="imgScale"></div>
                    </a>
                </div>
                <div class="type">
                    <a href="javascript:void(0)">
                        <h5>家店员工福利</h5>
                        <p>满减优惠</p>
                        <div class="rightImgBox"><img src="../img/hot2.jpg" class="imgScale"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="brands">
        <ul>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <li><a href="javascript:void(0)"><img src="../img/brands.jpg" class="imgScale"></a></li>
            <div class="clear"></div>
        </ul>
    </div> -->
    <!--楼层模块-->
    <div class="lcbox"></div>
    <div class="advBar">
        <a href="javascript:void(0)" class="img"><img src="../img/advBar.jpg"></a>
    </div>
    <div id="foot">
        <div>
            <img src="/src/img/foot.jpg?43aa0927">
        </div>
    </div>
    <div id="list">
        <div>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <ul>
                <li class="title">购物指南</li>
                <li>
                    <a href="javascript:void(0)">新手入门</a>
                </li>
                <li>
                    <a href="javascript:void(0)">购物流程</a>
                </li>
                <li>
                    <a href="javascript:void(0)">申请发票</a>
                </li>
                <li>
                    <a href="javascript:void(0)">积分规则</a>
                </li>
            </ul>
            <div class="QR">
                <p>手机端商城</p>
                <img src="/src/img/shx.jpg?b13e8683">
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <footer>
        <p>
            <a href="javascript:void(0)">公司介绍</a>
            <a href="javascript:void(0)">联系我们</a>
            <a href="javascript:void(0)">招贤纳士</a>
            <a href="javascript:void(0)" class="last">商家合作</a>
        </p>
        <p>版权所有：北京申合信科技发展有限公司</p>
        <p>地址：北京市西城区莲花池东路3号天云五金大厦3层</p>
        <p>联系电话：400-899-0018</p>
    </footer>
    <!-- 右侧菜单 -->
  <div id="rightBar">
        <div class="barTop">
                <ul>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-geren11"></use>
                        </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-gouwuche"></use>
                        </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-lishijilu"></use>
                        </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-saoma"></use>
                        </svg></li> 
                    <li><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-shoucang"></use>
                        </svg></li>               
                </ul>
            </div>
            <div class="barBottom">
                <ul>
                    <li><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-erji"></use>
                    </svg></li>
                    <li><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-kaohejilu"></use>
                    </svg></li>                
                    <li><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-saoma"></use>
                    </svg></li>
                    <li class="top"><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-top"></use>
                    </svg></li>
                </ul>
            </div>
</div>

    <!--<div id="leftNav">
        <h6>楼层导航</h6>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
        <a href="javascript:void(0)">场景采购</a>
    </div>-->
<script type="text/javascript" src="/js/common.js?b796cfe8"></script><script type="text/javascript" src="/js//index.js?db8f8157"></script></body>
</html>
